/** @author: mukil <malte@mikromedia.de> */

ul.moodle-items {
    padding-left: 0px;
    margin-right: 20px;
    list-style-type: none;
}

#page-content .tag-item-view {
    display: inline-block;
    cursor: pointer;
    color: #0000FF;
    text-decoration: underline;
}
/*
#page-content .tag-item-view:hover {
    color: black;
} **/

#page-content .field-label.moodle-item {
    margin-top: 5px;
}

#page-content .tag-item-view img {
    padding: 4px;
}

#page-content .tag-name {
    position: relative;
    top: -6px;
    left: 2px;
}

li.moodle-item {
    color: #333;
    border: 1px solid #000;
    margin: 2px;
    padding: 5px;
    padding-top: 3px;
    cursor: pointer;
    border: 1px solid #fff;
}

li.moodle-item img {
    padding-right: 10px;
    position: relative;
    top: 5px;
}

li.moodle-item small {

}

div.moodle-course-update {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}